<div>
  <div class="dashboard-image"></div>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <div class="navbar-logo"></div>
      <div class="navbar-end">
        <a>Home</a>
        <a>About</a>
        <a>Service</a>
        <a>Contact</a>
        <button type="button" class="btn btn-outline-light navbar-button">
          TAKE ACTION
        </button>
      </div>
    </div>
  </nav>
  <div class="welcome-text">
    <h1>BEYOND THE MOUNTAINS</h1>
    <h3>Let's Make Your Best Trip Ever</h3>
    <div class="center-buttons">
      <button type="button" class="btn btn-outline-light mid-button">
        SERVICES
      </button>

      <button type="button" class="btn btn-outline-light mid-button">
        ABOUT US
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
