.navbar {
  font-size: 16px;
  height: 50px;
}

.items {
  width: 100%;
  display: flex;
  color: #ffffff;
}

.menus {
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.logout {
  width: 100%;
  text-align: end;
}

span {
  cursor: pointer;
}
